<h1>らくがき詳細画面</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @blog.title %></h3>
  </div>
  <div class="panel-body">
    <p><%= @blog.content %></p>
  </div>
  <div>
    <p><%= image_tag @blog.image %></p>
  </div>
  <p>投稿者：<%= @user.name %><%= image_tag @user.image %></p>
  <% unless @blog.user == current_user %>
    <% if @favorite.present? %>
      <%= link_to 'お気に入り解除する', favorite_path(blog_id: @blog.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>
